<a class="nav-item nav-link-active" href="/todos/new">Create a New ToDo</a>
<a class="nav-item nav-link-active" href="#">Brain Dump</a>
<a class="nav-item nav-link-active" href="#">Useful Articles</a>